.App {
  text-align: center;
  background-color: #282c34;
}

#app-name{
  width: 80%;
  text-align: start;
}
#home:hover{
cursor: pointer;
}
#app-name h2{  
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
#user-header{
  width: 20%;
  float: right;
  margin: 0;
}
#user-name{
  width: 100%;
  height: 65%;
  background-color: #012f78;
  margin: 0;
}
#username-p{
  margin: 0;
  padding: 7% 0;
  height: 100%;
}
#user-buttons{
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline-block;
}
#user-logout-button{
  background-color: red;
  color: white;
}
.user-button{
  height: 5rem;
  width: 5rem;
  margin: 6%;
}
.table-button{
  width: 4rem !important;
  height: 4rem !important;
}
.active-no{
  color: red;
}
.active-yes{
  color: green;
}
.active-table{
  font-size: 3rem;
}
#table-new-employee{
  width: 5rem;
  height: 40%;
  border-radius: 120px !important;
}
.paginator-arrow:hover{
    cursor: pointer;
}
#new-employee-button{
  width: 60%;
}

.App-header {
  display: flex;
  width: 100%;
  font-size: calc(10px + 2vmin);
  background-color: #01255e;
  color: white;
}

.App-body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

table, th, td {
  border: 1px solid black;
  margin: 5px;
}
th, td{
  padding: 8px;
}
th{
  background-color: #01255e;
  color: white;
}

#employeesForm{
  display: none;
  width: 35%;
  border: 5px solid black;
  margin: 64px 0 0 0;
  opacity: 1;
}
#employeesUpdateDiv{
  display: none;
  width: 40%;
  border: 5px solid black;
  margin: 64px 0 0 0;
  opacity: 1;
}
form{
  width: 100%;
  margin: 8px;
  color: black;
  display: block;
}
label {
  display: inline-block;
  width: 40%;
  margin-left: -15%;
  text-align: right;
}
input, select{
 width: 50%;
 margin-left: 32px;
 height: 24px;
 font-size: 16px;
}
button{
  width: 50%;
  height: 48px;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 32px;
}
#updateButton{
  width: 128px;
}
#deleteButton{
  background-color: red;
  color: white;
  width: 128px;
}
#employeesTable{
  display: block;
  margin-top: 32px;
}
#loginDiv, #registerDiv{
  border: 5px solid black;
  display: none;
  width: 40%;
  height: 100%;
  margin: 32px;
}
#loginDiv button, #registerDiv button{
  width: 40%;
  display: inline-block;
  margin: 2.5%;
}
#login-form input, #register-form input{
  margin-bottom: 16px;
  height: 32px;
}
.changeLoginRegister{
  margin-top: 0;
}
.changeLoginRegister:hover{
  color:#01255e;
  cursor: pointer;
  text-decoration: underline;
}
#LogOutButton{
  background-color: red;
  color: white;
}

ul{
  display: flex;
  list-style-type: none;
}
li{
  height: 100%;
  padding: 0 16px;
  margin: 0 16px;
  text-align: center;
  font-size: 40px;
}

#nav-options{
  width: 100%;
  height: 128px;
  display: flex;
  margin: 0;
  background-color: black;
  color: white;
}
#nav-name{
  margin-right: 320px;
  margin-left: 64px;
}
.nav-item{
  float: right;
}
.two-buttons{
  width: 15%;
  display: block;
  margin: 16px auto;
}
#paginator{
  background-color: white;
  width: 100%;
  height: 64px;
  color: white;
}
.paginator-arrow{
  width: 30%;
  height: 60px;
  background-color: #01255e;
  border: 2px solid white;
  float: left;
}
.paginator-arrow p{
  margin: 0;
  height: 98%;
  font-size: 40px;
}
.paginator-arrow p svg{
  margin-top: 8px;
}
#paginator-middle{
  width: 38.5%;
  height: 100%;
  border: white solid 2px;
  background-color: white;
  float: left;
}
button:hover{
  cursor: pointer;
}
#h2-name{
  margin-left: 40% !important;
}